//mixins
.full-screen{
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


body {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #bbb;
}

#map-container {
  .map{
    .full-screen
  }
}

